#pcCleanToggle {
  margin-left: 39%;
}
.company-name {
  text-align: center;
}
.check-title {
  margin-top: 5px;
text-align: center;
}
.radio {
  float: right;
  transform: scale(2);
}
.clean-pc {
  border:1px solid #ddd;
  padding-bottom: 5px
}

/*Overiding Ratchet*/

.company-name {
  margin-top: 38%;
}
.company-name-input-group {
  margin-top: 38%;
}
.company-name-input input {
  height: 3rem;
  text-align: center;
  width: 100%;
}
.computer-number-input label {
  text-align: center;
  width: 100%
}
.radio-btn {
  float: right;
  transform: scale(1.5);

}

.step-count {
  margin-left: 43%;
}

.App {
  display: flex;
}

#appContainer {
  flex: 4
}

#explorerContainer {
  flex: 6;
  background: yellow;
  border-left: 2px solid black;
  padding: 20px;
}
#explorerContainer textarea {
  font-family: monospace;
  width: 100%;
  height: 600px;
  font-size: 16px;
}
