body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ddd;
}
.App {
  text-align: center;
}

.company-name-form {
  margin-top: 31%;
}
.submit-btn {
border: 2px solid black;
margin-top: 1vh;
}
.check input {
  width: 250px;
}
.computer-name {
  width: 250px;
}
